@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .group:hover .group-hover\:block {
    display: block;
    text-decoration: underline;
  }
}

.mx-transactions > td {
  @apply p-2;
}

.mx-transactions td > span,
.mx-transactions td > div {
  @apply flex w-max;
}

.mx-transactions td > div > a {
  @apply text-blue-600;
}

/* colors */
:root {
  /*  define here theme colors */
  /*
  --bs-link-color-rgb: #ff0080 !important;
  --bs-body-color: #ff0080 !important;ç
  */
  --main-color: #ff0080;
  --main-color-30: #ff008040;
}

.font-weight-bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

ul {
  list-style: initial;
}

.main-color {
  color: var(--main-color) !important;
}

.main-color-bg {
  background-color: var(--main-color) !important;
}

.main-color-30-border{
  border-color: var(--main-color-30) !important;
}